$font-size-base: 1.2rem;
$header-jumbotron-height: 250px;
$section-padding: 120px;
$shadow: 1px 1px 5px black, 1px 1px 10px darkblue; 
$secondcolor: lightblue;

@import "lib/bootstrap-5.3.3/scss/bootstrap";

.page-header {
  background: url("images/header/hunderennen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.navbar-brand {
  padding-top: 0.13rem;
  color: $primary;
  font-style: italic;
  text-shadow: $shadow;
}

.header-jumbotron {
  color: $secondcolor;
  text-shadow: $shadow;
  padding-top: 0px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  height: $header-jumbotron-height;
  @include media-breakpoint-up(sm) {
    height: $header-jumbotron-height + 50px;
  }
  @include media-breakpoint-up(md) {
    height: $header-jumbotron-height + 100px;
  }
  @include media-breakpoint-up(lg) {
    height: $header-jumbotron-height + 150px;
  }

  h1 {
    font-style: italic;
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.services {
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  .service-icon {
    font-size: 2.15rem;
    color: $primary;
    width: 5rem;
    height: 5rem;
    border: solid 2px $primary;
    border-radius: 50%;
    padding-top: 12px;
    margin: 1.5rem auto;
    text-align: center;
  }
}

.angebote {
  background-color: $secondcolor;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.aboutus {
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  .aboutus-image {
    border-radius: 50%;
    border: 5px solid $secondcolor;
  }
  
  @include media-breakpoint-up(md) {
    .aboutus-list {
      background: linear-gradient(to right,  white 0%, white calc(50% - 3px), 
      $secondcolor calc(50% - 3px), $secondcolor calc(50% + 3px), 
      white calc(50% + 3px), white 100%);
    
      .row:last-child {
        background-color: white;
      }
    }
  }
  
}

.team {
  background-color: $secondcolor;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  .team-img {
    border: solid 5px white;
    border-radius: 50%;
  }

  .team-link {
    color: black;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    font-size: 1.4rem;
    border: 2px solid black;
    border-radius: 50%;
    padding-top: 0.1rem;
    margin: 1px 2px 0px 2px;
  }
}

.contact {
  color: white;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  background: url("images/contact/erde.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  
  .contact-message { 
    height: 6rem;

    @include media-breakpoint-up(md) {
    height: 100%;
    }
  }
  
  input::placeholder, textarea::placeholder {
    color: $primary;
  }
}

.footer {
  .footer-icon {
    display: block;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    background-color: $primary;
    color: white;
    border-radius: 50%;
    margin: 1px 2px 0px 2px;
    padding-top: 0.4rem;
    border: 1px solid $primary;
    text-align: center;
  }
}
